<table summary="Travel plan form fields">
  <tr>
    <th><%= f.label :question, "Question" %></th>
    <td><%= f.text_area :question, :size => '60x1' %></td>
  </tr>
  <tr>
    <th><%= f.label :answer, "Answer" %></th>
    <td><%= f.text_area :answer, :size => '60x6' %></td>
  </tr>
  <tr>
    <th><%= f.label :position, "Position" %></th>
    <td><%= f.select :position, 1..@faq_count %></td>
  </tr>
</table>