<div class="row">
  <div class="col-md-8 form-group">
    <%= f.label :question %>
    <%= f.text_area :question, :rows => '2', :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 form-group">
    <%= f.label :answer %>
    <%= f.text_area :answer, :rows => '6', :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 form-group">
    <%= f.label :position %>
    <%= f.select :position, 1..@faq_count, {}, :class => 'form-control' %>
  </div>
</div>