<p id="notice"><%= notice %></p>

<h1>FAQs</h1>

<% if can? :manage, Faq %>
  <%= link_to 'Create Q&A', :action => 'new' %>
<% end %>

<table>
  <% @faqs.each do |faq| %>
    <tr>
      <th><%= faq.question %></th>
    </tr>
    <tr>
      <td><%= faq.answer %></td>
    </tr>
    <% if can? :manage, Faq %>
      <tr>
        <td>
          <%= link_to 'Edit', :action => 'edit', :id => faq.id %>
          <%= link_to 'Delete', :action => 'delete', :id => faq.id %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>