<% unless current_user.admin? %>

<div class="row">
  <div class="col-md-8 form-group">
    <%= f.label :description %>
    <%= f.text_field :description, :placeholder => 'Give a short description of this claim', :class => 'form-control' %>
  </div>
</div>

<br />
<div class="claims-header">Trip information 
  <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="right" title="Fill only if you have travelled">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  </span>
</div>
<div class="clear-date-fields">X clear date fields</div>

<br />
<div class="form-group">
  <%= f.label :departure %>
  <div class="form-inline">
    <%= f.datetime_select :departure, {:order => [:day, :month, :year], :include_blank => true, :default => nil}, :class => 'form-control date-field' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :return_date %>
  <div class="form-inline">
    <%= f.datetime_select :return_date, {:order => [:day, :month, :year], :include_blank => true, :default => nil}, :class => 'form-control date-field' %>
  </div>
</div>

<%= f.hidden_field :user_id, value: @user.id %>
<% else %>

<div class="row">
  <div class="col-md-4 form-group">
    <%= f.label :status %>
    <%= f.select :status, ['not submitted', 'requires revision', 'under analysis', 'approved'], :class => 'form-control' %>
  </div>
</div>

<% end %>