<table summary="Refund claim form fields">
  <% unless current_user.admin? %>
  <tr>
    <th><%= f.label :description, "Description" %></th>
    <td><%= f.text_field :description %></td>
  </tr>
  <% else %>
  <tr>
    <th><%= f.label :status, "Status" %></th>
    <td><%= f.select :status, ['not submitted', 'requires revision', 'under analysis', 'approved'] %></td>
  </tr>
  <% end %>
</table>
<%= f.hidden_field :user_id, value: @user.id %>