<% unless current_user.admin? %>

<div class="row">
  <div class="col-md-8 form-group">
    <%= f.label :description, :class => 'mandatory' %>
    <%= f.text_field :description, :placeholder => 'Give a short description of this claim', :class => 'form-control' %>
  </div>
</div>

<br />
<div class="claims-header">Trip information 
  <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="right" title="Fill only if you have travelled">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  </span>
</div>

<% unless @refund_claim.daily_allowances.nil? %>
  <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="right" title="You can't clear the dates if this claim has trip destinations">
    <div class="clear-date-fields-disabled">X clear date fields</div>
  </span>
<% else %>
  <div class="clear-date-fields">X clear date fields</div>
<% end %>

<br />
<div class="form-group">
  <%= f.label :departure %>
  <div class="form-inline">
    <%= f.datetime_select :departure, {:order => [:day, :month, :year], :include_blank => true, :default => nil}, :class => 'form-control date-field' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :return_date %>
  <div class="form-inline">
    <%= f.datetime_select :return_date, {:order => [:day, :month, :year], :include_blank => true, :default => nil}, :class => 'form-control date-field' %>
  </div>
</div>

<% if !current_user.projects.empty? %>
  <div class="form-group confirm-buttons">
    <%= f.label :posting, "Industry Project expense?" %>
    <div class="form-inline">
      <%= f.check_box :posting %>
      Mark this field if this refund claim is for your Industry Project
    </div>
  </div>
<% end %>

<%= f.hidden_field :user_id, value: current_user.id %>
<% else %>

<div class="row">
  <div class="col-md-4 form-group">
    <%= f.label :status %>
    <%= f.select :status, ['not submitted', 'requires revision', 'under analysis', 'approved'], :class => 'form-control' %>
  </div>
</div>

<% end %>