<div class="top-buttons">
	<%= link_to raw("<button type='button' class='btn btn-primary'><span class='glyphicon glyphicon-arrow-left' aria-hidden='true'></span> Back</button>"), {:action => 'index'} %>
</div>

<h3>Delete Claim</h3>

<%= form_for :refund_claim, :url => {:action => 'destroy', :id => @refund_claim.id} do |f| %>

    <p>Are you sure you want to permanently delete this claim? This action cannot be undone!</p>

    <p class="reference-name">Claim created at: <%= @refund_claim.created_at %><br />Description: <%= @refund_claim.description %></p>

    <div class="form-buttons confirm-buttons">
      <%= f.button "<span class='glyphicon glyphicon-remove' aria-hidden='true'></span> Delete".html_safe, :class => 'btn btn-danger' %>
    </div>

  <% end %>