<% if (can? :new, RefundClaim) && !@user.account.nil? %>
  <div class="top-buttons">
    <%= link_to raw("<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> New</button>"), {:action => 'new', :user_id => @user.id} %>
  </div>
<% end %>

<h3>Refund Claims</h3>

<%= pluralize(@refund_claims.size, 'refund claim') %> found<br />

<div class="row">
  <% @refund_claims.each do |refund_claim| %>
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-title"><%= refund_claim.description %></p>
        <%= "<p class='card-content'><strong>Student: </strong>#{refund_claim.user.name}</p>".html_safe if current_user.admin? %>
        <p class="card-content"><strong>Created at: </strong><%= refund_claim.created_at %></p>
        <p class="card-content"><strong>Status: </strong><%= refund_claim.status %></p>
        <p class="card-content"><strong>Receipts: </strong><%= refund_claim.receipts.size %></p>
        <p class="card-content"><strong>Trips: </strong><%= refund_claim.daily_allowances.size %></p>
        <p class="card-content"><strong>Own car trips: </strong><%= refund_claim.km_allowances.size %></p>
      </div>
      <div class="card-action">
        <% if current_user.admin? %>
          <%= (can? :read, refund_claim) ? (link_to "<span class='glyphicon glyphicon-eye-open standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'show', :user_id => refund_claim.user.id, :id => refund_claim.id}) : '<em>draft</em>'.html_safe %>
        <% else %>
          <%= (can? :read, refund_claim) ? (link_to "<span class='glyphicon glyphicon-eye-open standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'show', :user_id => @user.id, :id => refund_claim.id}) : '<em>draft</em>'.html_safe %>
          <%= link_to "<span class='glyphicon glyphicon-remove standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'delete', :user_id => @user.id, :id => refund_claim.id} %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>