<p id="notice"><%= notice %></p>

<%= link_to 'New Refund Claim', :action => 'new', :user_id => @user.id %>

<table>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Description</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @refund_claims.each do |refund_claim| %>
      <tr>
        <td><%= refund_claim.created_at %></td>
        <td><%= refund_claim.description %></td>
        <td><%= refund_claim.status %></td>
        <td>
          <%= link_to 'Show', :action => 'show', :user_id => @user.id, :id => refund_claim.id %>
          <%= link_to 'Edit', :action => 'edit', :user_id => @user.id, :id => refund_claim.id  %>
          <%= link_to 'Destroy', :action => 'delete', :user_id => @user.id, :id => refund_claim.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>