<div class="top-buttons">
    <%= link_to raw("<button type='button' class='btn btn-primary'><span class='glyphicon glyphicon-arrow-left' aria-hidden='true'></span> Back</button>"), {:action => 'index', :user_id => @user.id} %>
</div>

<div class="claims-aside">
    <h3 class="float-left">Refund claim</h3>
    <div class="float-right">
        <%= current_user.admin? ? (link_to 'Modify status', :action => 'edit', :user_id => @user.id, :id => @refund_claim.id) : (link_to raw("<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span> Edit</button>"), {:action => 'edit', :user_id => @user.id, :id => @refund_claim.id}) %>
    </div>
    <div class="clearfix"></div>
</div>

<p><strong>Description: </strong><%= @refund_claim.description %></p>
<p><strong>Status: </strong><%= @refund_claim.status %></p>

<hr />
<div class="claims-aside">
    <div class="claims-header float-left">
        Receipts
        <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="right" title="Add the receipts you want to claim here">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </span>
    </div>
    <% if can? :new, Receipt %>
        <div class="float-right">
            <%= link_to raw("<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> New</button>"), {:controller => 'receipts', :action => 'new', :user_id => @user.id, :refund_claim_id => @refund_claim.id} %>
        </div>
    <% end %>
    <div class="clearfix"></div>
</div>

<%= pluralize(@receipts.size, 'receipt') %> found<br />

<div class="row">
    <% @receipts.each do |receipt| %>
    <div class="col-md-4 col-sm-6">
        <div class="card">
            <div class="card-body">
                <p class="card-title"><%= receipt.expense_date %></p>
                <p class="card-content"><strong>Value: </strong><%= "#{receipt.value} #{receipt.currency}" %></p>
                <p class="card-content"><strong>Description: </strong><%= receipt.description %></p>
            </div>
            <% unless current_user.admin? %>
                <div class="card-action">
                <%= link_to "<span class='glyphicon glyphicon-pencil standard-actions' aria-hidden='true'></span>".html_safe, {:controller => 'receipts', :action => 'edit', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => receipt.id} %>
                <%= link_to "<span class='glyphicon glyphicon-remove standard-actions' aria-hidden='true'></span>".html_safe, {:controller => 'receipts', :action => 'delete', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => receipt.id} %>
                </div>
            <% end %>
        </div>
    </div>
    <% end %>
</div>


<hr />
<div class="claims-aside">
    <div class="claims-header float-left">
        Daily allowances
        <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="right" title="Fill in your travel details, if any, to receive the agreed daily allowance.">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </span>
    </div>
    <% if can? :new, DailyAllowance %>
        <div class="float-right">
            <%= link_to raw("<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> New</button>"), {:controller => 'daily_allowances', :action => 'new', :user_id => @user.id, :refund_claim_id => @refund_claim.id} %>
        </div>
    <% end %>
    <div class="clearfix"></div>
</div>

<%= pluralize(@daily_allowances.size, 'daily allowance') %> found<br />

<% if @daily_allowances.size > 0 %>
<table>
    <tr>
        <th>Departure from Finland: </th>
        <td><%= @refund_claim.departure %></td>
    </tr>
    <% @daily_allowances.each do |daily_allowance| %>
    <tr>
        <th>Arrival in <%= daily_allowance.destination %>: </th>
        <td><%= daily_allowance.arrival %> 
        <% unless current_user.admin? %>
            <%= link_to "<span class='glyphicon glyphicon-pencil standard-actions' aria-hidden='true'></span>".html_safe, {:controller => 'daily_allowances', :action => 'edit', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => daily_allowance.id} %>
            <%= link_to "<span class='glyphicon glyphicon-remove standard-actions' aria-hidden='true'></span>".html_safe, {:controller => 'daily_allowances', :action => 'delete', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => daily_allowance.id} %>
        <% end %>
        </td>
    </tr>
    <% end %>
    <tr>
        <th>Return to Finland: </th>
        <td><%= @refund_claim.return_date %></td>
    </tr>
</table>
<% end %>


<hr />
<div class="claims-aside">
    <div class="claims-header float-left">
        km allowances
        <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="right" title="Only if you have used your own vehicle">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </span>
    </div>
    <% if can? :new, KmAllowance %>
        <div class="float-right">
            <%= link_to raw("<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> New</button>"), {:controller => 'km_allowances', :action => 'new', :user_id => @user.id, :refund_claim_id => @refund_claim.id} %>
        </div>
    <% end %>
    <div class="clearfix"></div>
</div>

<%= pluralize(@km_allowances.size, 'km allowance') %> found<br />

<% if @km_allowances.size > 0 %>
<table>
    <tr>
        <th>Date</th>
        <th>Route</th>
        <th>Description</th>
        <th>km</th>
        <%= "<th>Actions</th>".html_safe unless current_user.admin? %>
    </tr>
    <% @km_allowances.each do |km_allowance| %>
    <tr>
        <td><%= km_allowance.date %></td>
        <td><%= km_allowance.route %></td>
        <td><%= km_allowance.description %></td>
        <td><%= km_allowance.kms %></td>
        <td>
            <% unless current_user.admin? %>
                <%= link_to "<span class='glyphicon glyphicon-pencil standard-actions' aria-hidden='true'></span>".html_safe, {:controller => 'km_allowances', :action => 'edit', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => km_allowance.id} %>
                <%= link_to "<span class='glyphicon glyphicon-remove standard-actions' aria-hidden='true'></span>".html_safe, {:controller => 'km_allowances', :action => 'delete', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => km_allowance.id} %>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>
<% end %>