<%= link_to 'Back to claims', :action => 'index', :user_id => @user.id %> | 
<%= current_user.admin? ? (link_to 'Modify status', :action => 'edit', :user_id => @user.id, :id => @refund_claim.id) : (link_to 'Edit this claim', :action => 'edit', :user_id => @user.id, :id => @refund_claim.id) %>
<br />

<h4>Refund claim</h4>
<p><strong>Description: </strong><%= @refund_claim.description %></p>
<p><strong>Status: </strong><%= @refund_claim.status %></p>


<h5>Receipts</h5>
<%= pluralize(@receipts.size, 'receipt') %> found<br />
<%= (link_to 'Add new receipt', :controller => 'receipts', :action => 'new', :user_id => @user.id, :refund_claim_id => @refund_claim.id) if can? :new, Receipt %>
<br />

<div class="row">
    <% @receipts.each do |receipt| %>
    <div class="col s12 m4">
        <div class="card grey lighten-5">
            <div class="card-content">
                <span class="card-title grey-text text-darken-3 truncate"><%= receipt.expense_date %></span>
                <p class="truncate"><strong>Value: </strong><%= "#{receipt.value} #{receipt.currency}" %></p>
                <p class="truncate"><strong>Description: </strong><%= receipt.description %></p>
            </div>
            <% unless current_user.admin? %>
                
            <% end %>
            <div class="card-action">
                <%= link_to 'Edit', :controller => 'receipts', :action => 'edit', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => receipt.id %> | 
                <%= link_to 'Delete', :controller => 'receipts', :action => 'delete', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => receipt.id %>
            </div>
        </div>
    </div>
    <% end %>
</div>



<h5>Daily allowances</h5>
<%= pluralize(@daily_allowances.size, 'daily allowance') %> found<br />
<%= (link_to 'Add new daily allowance', :controller => 'daily_allowances', :action => 'new', :user_id => @user.id, :refund_claim_id => @refund_claim.id) if can? :new, DailyAllowance %>
<br /><br />
<% if @daily_allowances.size > 0 %>
<table>
    <tr>
        <th>Departure from Finland: </th>
        <td><%= @refund_claim.departure %></td>
    </tr>
    <% @daily_allowances.each do |daily_allowance| %>
    <tr>
        <th>Arrival in <%= daily_allowance.destination %>: </th>
        <td><%= daily_allowance.arrival %> (
        <% unless current_user.admin? %>
            <%= link_to 'Edit', :controller => 'daily_allowances', :action => 'edit', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => daily_allowance.id %> | 
            <%= link_to 'Delete', :controller => 'daily_allowances', :action => 'delete', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => daily_allowance.id %> )
        <% end %>
        </td>
    </tr>
    <% end %>
    <tr>
        <th>Return to Finland: </th>
        <td><%= @refund_claim.return_date %></td>
    </tr>
</table>
<% end %>

<h5>km allowances</h5>
<%= pluralize(@km_allowances.size, 'km allowance') %> found<br />
<%= (link_to 'Add new km allowance', :controller => 'km_allowances', :action => 'new', :user_id => @user.id, :refund_claim_id => @refund_claim.id) if can? :new, KmAllowance %>
<br /><br />
<% if @km_allowances.size > 0 %>
<table>
    <tr>
        <th>Date</th>
        <th>Route</th>
        <th>Description</th>
        <th>km</th>
        <%= "<th>Actions</th>".html_safe unless current_user.admin? %>
    </tr>
    <% @km_allowances.each do |km_allowance| %>
    <tr>
        <td><%= km_allowance.date %></td>
        <td><%= km_allowance.route %></td>
        <td><%= km_allowance.description %></td>
        <td><%= km_allowance.kms %></td>
        <td>
            <% if current_user.admin? %>
            <% else %>
                <%= link_to 'Edit', :controller => 'km_allowances', :action => 'edit', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => km_allowance.id %> | 
                <%= link_to 'Delete', :controller => 'km_allowances', :action => 'delete', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => km_allowance.id %>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>
<% end %>