<% unless current_user.admin? %>

<div class="row">
  <div class="col-md-8 form-group">
    <%= f.label :destination %>
    <%= f.text_field :destination, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :departure_date %>
  <div class="form-inline">
    <%= f.date_select :departure_date, {:order => [:day, :month, :year]}, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :return_date %>
  <div class="form-inline">
    <%= f.date_select :return_date, {:order => [:day, :month, :year]}, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 form-group">
    <%= f.label :trip_description %>
    <%= f.text_field :trip_description, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label "Means of transport" %>
  <%= f.collection_check_boxes :transport_ids, Transport.all, :id, :transport_type do |box| %>
    <div>
      <%= box.check_box %>
      <%= box.label %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-8 form-group">
    <%= f.label :tickets_description %>
    <%= f.text_field :tickets_description, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 form-group">
    <%= f.label :tickets_cost %>
    <div class="input-group">
      <div class="input-group-addon">€</div>
      <%= f.number_field :tickets_cost, :class => 'form-control' %>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col-sm-3 form-group">
    <%= f.label :paid_days, "Allowance days" %>
    <%= f.number_field :paid_days, :class => 'form-control' %>
  </div>
  
  <div class="col-sm-3 form-group">
    <%= f.label :daily_allowance, "Daily allowance value" %>
    <div class="input-group">
      <div class="input-group-addon">€</div>
      <%= f.number_field :daily_allowance, :class => 'form-control' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 form-group">
    <%= f.label :accommodation_costs %>
    <div class="input-group">
      <div class="input-group-addon">€</div>
      <%= f.number_field :accommodation_costs, :class => 'form-control' %>
    </div>
  </div>
  
  <div class="col-sm-9 form-group">
    <%= f.label :accommodation_aalto_paid, "Accomodation paid..." %>
    <div><%= f.radio_button(:accommodation_aalto_paid, true) %> ...directly by IDBM</div>
    <div><%= f.radio_button(:accommodation_aalto_paid, false) %> ...by the student and refunded later</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 form-group">
    <%= f.label :events_costs %>
    <div class="input-group">
      <div class="input-group-addon">€</div>
      <%= f.number_field :events_costs, :class => 'form-control' %>
    </div>
  </div>
  
  <div class="col-sm-9 form-group">
    <%= f.label :events_aalto_paid, "Events paid..." %>
    <div><%= f.radio_button(:events_aalto_paid, true) %> ...directly by IDBM</div>
    <div><%= f.radio_button(:events_aalto_paid, false) %> ...by the student and refunded later</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 form-group">
    <%= f.label :other_description, "Specify any other planned costs" %>
    <%= f.text_field :other_description, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 form-group">
    <%= f.label :other_costs %>
    <div class="input-group">
      <div class="input-group-addon">€</div>
      <%= f.number_field :other_costs, :class => 'form-control' %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label "Team members travelling" %>
  <%= f.collection_check_boxes :user_ids, User.where("role = ?", "Student"), :id, :first_name do |box| %>
    <div>
      <%= box.check_box %>
      <%= box.label %>
    </div>
  <% end %>
</div>

<% else %>

<div class="row">
  <div class="col-sm-4 form-group">
    <%= f.label :status %>
    <%= f.select :status, ['not submitted', 'requires revision', 'under analysis', 'approved'], {}, {:class => 'form-control'} %>
  </div>
</div>

<% end %>