<% if (can? :new, TravelPlan) && !current_user.account.nil? %>
  <div class="top-buttons">
    <%= link_to raw("<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> New</button>"), {:action => 'new'} %>
  </div>
<% end %>

<h3>Travel Plans</h3>

<%= pluralize(@travel_plans.size, 'travel plan') %> found<br />

<div class="row">
  <% @travel_plans.each do |travel_plan| %>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <%= link_to "<div class='card-show'></div>".html_safe, {:action => 'show', :id => travel_plan.id} if (can? :show, travel_plan) %>
          <p class="card-title"><%= travel_plan.destination %></p>
          <p class="card-content"><%= travel_plan.posting ? "Travel plan for the <em>#{travel_plan.project}</em> project".html_safe : '<em>Not related to the Industry Project</em>'.html_safe %></p>
          <p class="card-content"><strong>Departure: </strong><%= date_format(travel_plan.departure_date) %></p>
          <p class="card-content"><strong>Return: </strong><%= date_format(travel_plan.return_date) %></p>
          <p class="card-content"><strong>Travellers: </strong><%= travel_plan.travellers %></p>
        </div>
        <div class="card-action">
          <span class="<%= status_color(travel_plan.status) %>"></span><%= travel_plan.status.upcase %>
        </div>
      </div>
    </div>
  <% end %>
</div>