<p id="notice"><%= notice %></p>

<h3>Travel Plans</h3>

<%= (link_to 'New Travel Plan', {:action => 'new', :user_id => @user.id}, :class => 'top-nav') if can? :new, TravelPlan %>

<%= pluralize(@travel_plans.size, 'travel plan') %> found<br />

<div class="row">
  <% @travel_plans.each do |travel_plan| %>
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-title"><%= travel_plan.destination %></p>
        <p class="card-content"><strong>Departure: </strong><%= travel_plan.departure_date %></p>
        <p class="card-content"><strong>Return: </strong><%= travel_plan.return_date %></p>
        <p class="card-content"><strong>Travellers: </strong><%= travel_plan.travellers %></p>
        <p class="card-content"><strong>Status: </strong><%= travel_plan.status %></p>
      </div>
      <div class="card-action">
        <%= (can? :read, travel_plan) ? (link_to 'Show', :action => 'show', :user_id => @user.id, :id => travel_plan.id) : '<em>draft</em>'.html_safe %>
        <% unless current_user.admin? %>
          <%= link_to 'Edit', :action => 'edit', :user_id => @user.id, :id => travel_plan.id  %>
          <%= link_to 'Destroy', :action => 'delete', :user_id => @user.id, :id => travel_plan.id %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>