<% if (can? :new, TravelPlan) && !@user.account.nil? %>
  <div class="top-buttons">
    <%= link_to raw("<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> New</button>"), {:action => 'new', :user_id => @user.id} %>
  </div>
<% end %>

<h3>Travel Plans</h3>

<%= pluralize(@travel_plans.size, 'travel plan') %> found<br />

<div class="row">
  <% @travel_plans.each do |travel_plan| %>
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-title"><%= travel_plan.destination %></p>
        <p class="card-content"><strong>Departure: </strong><%= travel_plan.departure_date %></p>
        <p class="card-content"><strong>Return: </strong><%= travel_plan.return_date %></p>
        <p class="card-content"><strong>Travellers: </strong><%= travel_plan.travellers %></p>
        <p class="card-content"><strong>Status: </strong><%= travel_plan.status %></p>
      </div>
      <div class="card-action">
        <% if current_user.admin? %>
          <%= link_to "<span class='glyphicon glyphicon-eye-open standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'show', :id => travel_plan.id} if (can? :show, travel_plan) %>
          <%= link_to "<span class='glyphicon glyphicon-pencil standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'edit', :id => travel_plan.id} if (can? :edit, travel_plan) %>
        <% else %>
          <%= link_to "<span class='glyphicon glyphicon-eye-open standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'show', :id => travel_plan.id} if (can? :show, travel_plan) %>
          <%= link_to "<span class='glyphicon glyphicon-pencil standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'edit', :id => travel_plan.id} if (can? :edit, travel_plan) %>
          <%= link_to "<span class='glyphicon glyphicon-remove standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'delete', :id => travel_plan.id} if (can? :delete, travel_plan) %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>