<p id="notice"><%= notice %></p>

<% if can? :new, TravelPlan %>
  <div class="top-buttons">
    <%= link_to raw("<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> New</button>"), {:action => 'new', :user_id => @user.id} %>
  </div>
<% end %>

<h3>Travel Plans</h3>

<%= pluralize(@travel_plans.size, 'travel plan') %> found<br />

<div class="row">
  <% @travel_plans.each do |travel_plan| %>
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-title"><%= travel_plan.destination %></p>
        <p class="card-content"><strong>Departure: </strong><%= travel_plan.departure_date %></p>
        <p class="card-content"><strong>Return: </strong><%= travel_plan.return_date %></p>
        <p class="card-content"><strong>Travellers: </strong><%= travel_plan.travellers %></p>
        <p class="card-content"><strong>Status: </strong><%= travel_plan.status %></p>
      </div>
      <div class="card-action">
        <%= (can? :read, travel_plan) ? (link_to "<span class='glyphicon glyphicon-eye-open standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'show', :user_id => @user.id, :id => travel_plan.id}) : '<em>draft</em>'.html_safe %>
        <% unless current_user.admin? %>
          <%= link_to "<span class='glyphicon glyphicon-pencil standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'edit', :user_id => @user.id, :id => travel_plan.id} %>
          <%= link_to "<span class='glyphicon glyphicon-remove standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'delete', :user_id => @user.id, :id => travel_plan.id} %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>