<p id="notice"><%= notice %></p>

<h1>Listing Travel Plans</h1>

<%= link_to 'New Travel Plan', :action => 'new', :user_id => @user.id %>

<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Departure</th>
      <th>Return</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @travel_plans.each do |travel_plan| %>
      <tr>
        <td><%= travel_plan.destination %></td>
        <td><%= travel_plan.departure_date %></td>
        <td><%= travel_plan.return_date %></td>
        <td>
          <%= link_to 'Show', :action => 'show', :user_id => @user.id, :id => travel_plan.id %>
          <%= link_to 'Edit', :action => 'edit', :user_id => @user.id, :id => travel_plan.id  %>
          <%= link_to 'Destroy', :action => 'delete', :user_id => @user.id, :id => travel_plan.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
