<p id="notice"><%= notice %></p>

<h1>Listing Travel Plans</h1>

<%= link_to 'New Travel Plan', :action => 'new' %>

<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Departure</th>
      <th>Return</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @travel_plans.each do |travel_plan| %>
      <tr>
        <td><%= travel_plan.destination %></td>
        <td><%= travel_plan.deprature %></td>
        <td><%= travel_plan.return %></td>
        <td>
          <%= link_to 'Show', '#' %>
          <%= link_to 'Edit', '#' %>
          <%= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
