<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :first_name, :class => 'mandatory' %>
    <%= f.text_field :first_name, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :last_name, :class => 'mandatory' %>
    <%= f.text_field :last_name, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :username, :class => 'mandatory' %>
    <%= f.text_field :username, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :e_mail, :class => 'mandatory' %>
    <%= f.text_field :e_mail, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :birth_date, :class => 'mandatory' %>
  <div class="form-inline">
    <%= f.date_select :birth_date, {:start_year => 1960, :end_year => 2000, :order => [:day, :month, :year], :include_blank => true, :default => nil}, :class => 'form-control' %>
  </div>
</div>

<% if current_user.admin? %>
  <%= f.hidden_field :role, value: 'Student' %>
<% elsif current_user.role = "sudo" %>
  <%= f.hidden_field :role, value: 'Admin' %>
<% end %>
