<div class="row">
  <div class="col-sm-6 form-group">
    <%= f.label :first_name, :class => 'mandatory' %>
    <%= f.text_field :first_name, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 form-group">
    <%= f.label :last_name, :class => 'mandatory' %>
    <%= f.text_field :last_name, :class => 'form-control' %>
  </div>
</div>

<% if can? :edit, @user %>
  <div class="row">
    <div class="col-sm-6 form-group">
      <%= f.label :username, :class => 'mandatory' %>
      <%= f.text_field :username, :class => 'form-control' %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-6 form-group">
    <%= f.label :email, :class => 'mandatory' %>
    <%= f.text_field :email, :class => 'form-control' %>
  </div>
</div>

<% if current_user.admin? %>
  <%= f.hidden_field :role, value: 'Student' %>
<% elsif current_user.role = "sudo" %>
  <%= f.hidden_field :role, value: 'Admin' %>
<% end %>
