<div class="top-buttons">
    <%= link_to raw("<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> New</button>"), :action => 'new' %>
</div>

<h3>Registered Users</h3>

<div class="row">
    <div class="col-sm-9">
        <table class="table user-index">
          <thead>
            <tr>
              <th>Role</th>
              <th>Name</th>
              <th>Project</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.role %></td>
                <td><%= user.name %></td>
                <td><%= user.project.empty? ? '<em>Unallocated</em>'.html_safe : user.project %></td>
                <td class="actions">
                    <%= link_to "<span class='glyphicon glyphicon-eye-open standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'show', :id => user.id} %>
                    <%= link_to "<span class='glyphicon glyphicon-pencil standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'edit', :id => user.id} %>
                    <%= link_to "<span class='glyphicon glyphicon-remove standard-actions' aria-hidden='true'></span>".html_safe, {:action => 'delete', :id => user.id} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>

<br>
