<%= link_to 'Edit', {:action => 'edit', :id => @user.id} %> |
<%= link_to 'Back', :action => 'index' %>

<table>
    <tr>
        <th>Name</th>
        <td><%= @user.name %></td>
    </tr>
    <tr>
        <th>Username</th>
        <td><%= @user.username %></td>
    </tr>
    <tr>
        <th>e-mail</th>
        <td><%= @user.e_mail %></td>
    </tr>
    <tr>
        <th>Role</th>
        <td><%= @user.role %></td>
    </tr>
</table>
