<% if current_user.admin? && current_user.id != @user.id %>
    <div class="top-buttons">
        <%= link_to raw("<button type='button' class='btn btn-primary'><span class='glyphicon glyphicon-arrow-left' aria-hidden='true'></span> Back</button>"), :action => 'index' %>
    </div>
<% end %>

<div class="row">
    <div class="col-md-8 edit-userinfo">
        
        <h3>Personal info</h3>

        <%= link_to raw("<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span> Edit</button>"), :action => 'edit', :id => @user.id %>

    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <tr>
                <th class="th-userinfo">Name</th>
                <td class="td-userinfo"><%= @user.name %></td>
            </tr>
            <tr>
                <th class="th-userinfo">Username</th>
                <td class="td-userinfo"><%= @user.username %></td>
            </tr>
            <tr>
                <th class="th-userinfo">Date of birth</th>
                <td class="td-userinfo"><%= @user.birth_date %></td>
            </tr>
            <tr>
                <th class="th-userinfo">e-mail</th>
                <td class="td-userinfo"><%= @user.e_mail %></td>
            </tr>
            <tr>
                <th class="th-userinfo">Role</th>
                <td class="td-userinfo"><%= @user.role %></td>
            </tr>
            <tr>
                <th class="th-userinfo">Project</th>
                <td class="td-userinfo"><%= @user.project.empty? ? '<em>unallocated</em>'.html_safe : @user.project %></td>
            </tr>
        </table>
    </div>
</div>


<% if !@account.nil? && (can? :show, Account) %>

<div class="row">
    <div class="col-md-8 edit-userinfo">
<h3>Billing info</h3>

<% if can? :edit, Account %>
<%= link_to raw("<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span> Edit</button>"), :controller => 'accounts', :action => 'edit', :id => @account.id, :user_id => @user.id %>
<% end %>
</div>
</div>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <tr>
                <th class="th-userinfo">Social security number</th>
                <td class="td-userinfo"><%= @account.social_security %></td>
            </tr>
            <tr>
                <th class="th-userinfo">Phone number</th>
                <td class="td-userinfo"><%= @account.phone_number %></td>
            </tr>
            <tr>
                <th class="th-userinfo">IBAN</th>
                <td class="td-userinfo"><%= @account.iban %></td>
            </tr>
            <tr>
                <th class="th-userinfo">Swift</th>
                <td class="td-userinfo"><%= @account.swift %></td>
            </tr>
            <tr>
                <th class="th-userinfo">Address</th>
                <td class="td-userinfo"><%= @account.address %></td>
            </tr>
            <tr>
                <th class="th-userinfo">Postal code</th>
                <td class="td-userinfo"><%= @account.postal_code %></td>
            </tr>
            <tr>
                <th class="th-userinfo">City</th>
                <td class="td-userinfo"><%= @account.city %></td>
            </tr>
        </table>
    </div>
</div>

<% end %>

<% if can? :change_pass, User %>
    <%= link_to raw("<button type='button' class='btn btn-warning'><span class='glyphicon glyphicon-lock' aria-hidden='true'></span> Change password</button>"), :action => 'change_pass', :id => @user.id %>
<% end %>