<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :project_name %>
    <%= f.text_field :project_name, :class => 'form-control' %>
  </div>
</div>

<% unless @users.nil? %>
  <div class="form-group">
    <%= f.label "Team members" %>
    <%= f.collection_check_boxes :user_ids, @users, :id, :first_name do |box| %>
      <div>
        <%= box.check_box %>
        <%= box.label %>
      </div>
    <% end %>
  </div>
<% end %>