<% flash.each do |key, value| %>

	<div class="alert alert-<%= key %> position-relative" role="alert">

		<% icon = key == "success" ? "ok" : "exclamation-sign" %>

		<% if value.kind_of?(Array) %>
		    <% value.each do |val| %>
		    	<span class="glyphicon glyphicon-<%= icon %>" aria-hidden="true"></span>&nbsp;<%= val %><br />
		    <% end %>
		<% else %>
			<span class="glyphicon glyphicon-<%= icon %>" aria-hidden="true"></span>&nbsp;<%= value %><br />
	    <% end %>
	    
	    <!-- Button for user to create payment information -->
	    <% if value == "Payment information missing!" %>
	    	<%= link_to raw("<button type='button' class='btn btn-warning add-account'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Add now!</button>"), :controller => 'accounts', :action => 'new', :user_id => current_user.id %>
	    <% end %>

	</div>

<% end %>