<div class="form-group">
  <%= f.label :expense_date, :class => 'mandatory' %>
  <div class="form-inline">
    <%= f.date_select :expense_date, {:order => [:day, :month, :year]}, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 form-group">
    <%= f.label :description, :class => 'mandatory' %>
    <%= f.text_field :description, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 form-group">
    <%= f.label :value, :class => 'mandatory' %>
    <%= f.number_field :value, {:class => 'form-control', :step => 0.01, :min => 0.01} %>
  </div>
  <div class="col-sm-2 form-group">
    <%= f.label :currency, :class => 'mandatory' %>
    <%= f.select :currency, currencies_list, {}, {:class => 'form-control'} %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 form-group">
    <%= f.label :attachment, "Attachment (only pdf)" %>
    <%= f.file_field :attachment %>
  </div>
</div>

<%= f.hidden_field :refund_claim_id, value: @refund_claim.id %>
<%= f.hidden_field :user_id, value: current_user.id %>