<h1>Delete Receipt</h1>

<%= link_to 'Back to claims', {:controller => 'refund_claims', :action => 'show', :user_id => @user.id, :id => @refund_claim.id} %>

<%= form_for :receipt, :url => {:action => 'destroy', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => @receipt.id} do |f| %>

    <p>Are you sure you want to permanently delete this receipt?</p>

    <p class="reference-name"><%= @receipt.description %> (<%= @receipt.value %> <%= @receipt.currency %>)</p>

    <div class="form-buttons">
      <%= submit_tag("Detele receipt") %>
    </div>

<% end %>
