<h4>Welcome</h4>

<%= form_for @user_session do |f| %>
    <%= render 'application/errors', object: @user_session %>

<div class="row">
  <div class="col-md-4">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control general-input' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">  
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control general-input col-md-4' %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= f.submit "Log in", class: 'form-control general-button' %>
  </div>
</div>

</div>

<% end %>