<!DOCTYPE html>
<html>
<head>
  <title>IDBM Industry Project</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  
  <header>
    <div class="hero">IDBM Industry Project</div>
    
    <div class="access">
      Welcome<%= current_user ? " #{current_user.name} | " : ", please log in." %>
      <%= link_to 'log out', sign_out_path, method: :delete if current_user  %>
    </div>
    
  </header>

  
  <table class="main-area">
    <tr>
      
      <td class="navigation">
        <% if current_user %>
          <ul>
      
            <li><%= link_to "<span class='glyphicon glyphicon-home' aria-hidden='true'></span>".html_safe, {:controller => 'main'} %></li>
            
            <li><%= link_to "<span class='glyphicon glyphicon-plane' aria-hidden='true'></span>".html_safe, {:controller => "travel_plans", :user_id => current_user.id} %></li>
            
            <li><%= link_to "<span class='glyphicon glyphicon-euro' aria-hidden='true'></span>".html_safe, {:controller => "refund_claims", :user_id => current_user.id} %></li>
            
            <li><%= link_to "<span class='glyphicon glyphicon-user' aria-hidden='true'></span>".html_safe, {:controller => "users", :action => "show", :id => current_user.id} %></li>
            
            <li><%= link_to "<span class='glyphicon glyphicon-question-sign' aria-hidden='true'></span>".html_safe, {:controller => "faqs"} %></li>
            
            <% if can? :manage, User %>
              <li><%= link_to "<span class='glyphicon glyphicon-education' aria-hidden='true'></span>".html_safe, {:controller => "users"} %></li>
            <% end %>
            
          </ul>
        <% end %>
      </td>
      
      

      <td class="main_section">

        <%= render "flash" %>

        <%= yield %>
      
      </td>


      
    </tr>
  </table>
      
    
  <footer>
      <p>&copy; IDBM 2016</p>
  </footer>


</body>
</html>
