<!DOCTYPE html>
<html>
<head>
  <title>IDBM Industry Project</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'effects' %>
  <%= csrf_meta_tags %>
</head>

<body>
  
  
  <header class="blue-grey darken-4 white-text z-depth-1">
    <h2>IDBM Industry Project</h2>
    
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    
    <div class="access">
      <p>
        Welcome<%= current_user ? " #{current_user.username} | " : ", please log in." %>
        <%= link_to 'log out', sign_out_path, method: :delete if current_user  %>
      </p>
    </div>
    
  </header>


  <main>
    
    <% if current_user %>
    <aside class="navigation blue-grey darken-2 z-depth-1">
      <ul>
        
        <li><%= link_to 'main', :controller => 'main' %></li>
        
        <li><%= link_to 'travel plans', :controller => "travel_plans", :user_id => current_user.id %></li>
        
        <li><%= link_to 'refund claims', :controller => "refund_claims", :user_id => current_user.id %></li>
        
        <li><%= link_to 'personal info', :controller => "users", :action => "show", :id => current_user.id %></li>
        
        <li><%= link_to 'FAQ', :controller => "faqs" %></li>
        
        <% if can? :manage, User %>
          <li><%= link_to 'users', :controller => "users" %></li>
        <% end %>
        
      </ul>
    </aside>
    <% end %>
    
    <aside class="main_section">
      
      <%= yield %>
      
    </aside>
    
  </main>
    
    
  <footer class="page-footer blue-grey lighten-3">
      <p>&copy; IDBM 2016</p>
  </footer>


</body>
</html>
