<!DOCTYPE html>
<html>
<head>
  <title>IDBM Industry Project</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'effects' %>
  <%= csrf_meta_tags %>
</head>

<body>
  
  <header class="blue-grey darken-2 white-text z-depth-1">
    <h2>IDBM Industry Project</h2>
    
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    
    <div class="access">
      <p>
        Welcome<%= current_user ? " #{current_user.username} | " : ", please log in." %>
        <%= link_to 'log out', sign_out_path, method: :delete if current_user  %>
      </p>
    </div>
    
  </header>


  <main>
    
    <table id="main_area">
      <tr>
        
        <td class="navigation blue-grey lighten-4 z-depth-1">
          <% if current_user %>
            <ul>
        
              <li><%= link_to 'main', :controller => 'main' %></li>
              
              <li><%= link_to 'travel plans', :controller => "travel_plans", :user_id => current_user.id %></li>
              
              <li><%= link_to 'refund claims', :controller => "refund_claims", :user_id => current_user.id %></li>
              
              <li><%= link_to 'personal info', :controller => "users", :action => "show", :id => current_user.id %></li>
              
              <li><%= link_to 'FAQ', :controller => "faqs" %></li>
              
              <% if can? :manage, User %>
                <li><%= link_to 'users', :controller => "users" %></li>
              <% end %>
              
            </ul>
          <% end %>
        </td>
        
        <td class="main_section">
          <%= yield %>
        </td>
        
      </tr>
    </table>
    
  </main>
    
    
  <footer class="page-footer blue-grey">
      <p>&copy; IDBM 2016</p>
  </footer>


</body>
</html>
