<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :social_security, :class => 'mandatory' %>
    <%= f.text_field :social_security, :placeholder => '999999-999X', :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :phone_number, :class => 'mandatory' %>
    <%= f.text_field :phone_number, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :iban, :class => 'mandatory' %>
    <%= f.text_field :iban, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :swift, :class => 'mandatory' %>
    <%= f.text_field :swift, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :address, :class => 'mandatory' %>
    <%= f.text_field :address, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :postal_code, :class => 'mandatory' %>
    <%= f.text_field :postal_code, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :city, :class => 'mandatory' %>
    <%= f.text_field :city, :class => 'form-control' %>
  </div>
</div>

<%= f.hidden_field :user_id, value: @user.id %>