<table summary="Account form fields">
  <tr>
    <th><%= f.label :social_security, "Social Security Number" %></th>
    <td><%= f.text_field :social_security %></td>
  </tr>
  <tr>
    <th><%= f.label :phone_number, "Phone Number" %></th>
    <td><%= f.text_field :phone_number %></td>
  </tr>
  <tr>
    <th><%= f.label :iban, "IBAN" %></th>
    <td><%= f.text_field :iban %></td>
  </tr>
  <tr>
    <th><%= f.label :swift, "SWIFT" %></th>
    <td><%= f.text_field :swift %></td>
  </tr>
  <tr>
    <th><%= f.label :address, "Address" %></th>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
    <th><%= f.label :postal_code, "Postal Code" %></th>
    <td><%= f.text_field :postal_code %></td>
  </tr>
  <tr>
    <th><%= f.label :city, "City" %></th>
    <td><%= f.text_field :city %></td>
  </tr>
</table>
<%= f.hidden_field :user_id, value: @user.id %>