<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :social_security %>
    <%= f.text_field :social_security, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :iban %>
    <%= f.text_field :iban, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :swift %>
    <%= f.text_field :swift, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :address %>
    <%= f.text_field :address, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :city %>
    <%= f.text_field :city, :class => 'form-control' %>
  </div>
</div>

<%= f.hidden_field :user_id, value: @user.id %>